body {
    padding: 0px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    background-color: #fff;
    color: #222;
    position: fixed;
    height: 100vh;
    width:100vw;
  }
  * {
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  li,
  p {
    margin: 0;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  figure {
    margin: 0;
  }
  